

<div id="cf7" class="shadow">
  <%= image_tag "0001.jpg" , :class => "opaque"  %>
  <%= image_tag "0002.jpg"  %>
  <%= image_tag "0003.jpg"  %>
  <%= image_tag "0004.jpg"  %>
</div>
<p id="cf7_controls">
  <span class="selected">Image 1</span>
  <span>Image 2</span>
  <span>Image 3</span>
  <span>Image 4</span>
</p>
