<%= javascript_include_tag 'welcome.js' %>
$('#wellcom').cycle()({
<div class="slideshow">
     <div>
       <%= image_tag("0001.jpg") %>
     </div>
     <div>
       <%= image_tag("0002.jpg") %>
     </div>
     <div>
     </div>
  </div>
});
